body {
    background-color: #F5F5F5;
}

.font1 {
	font-family: 'Lato', Sans-Serif;
	font-size: 45px;
	font-weight: 400;
}

.font2 {
	font-family: 'Open Sans', Sans-Serif;
	font-size: 15px;
	padding-bottom: 2px;
}

.font3 {
	font-family: 'Lato', Sans-Serif;
	font-size: 25px;
	text-decoration: line-through;
	font-weight: 300;
}

.container {
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   cursor: pointer;
}


.container>* {
	flex: 1 1 160px;
}

.card {
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid #F5F5F5;
}

.card:hover {
	border: 1px solid #D5D5D5;
}

.right {
	text-align: right;
}