body {
	background-color: #FFFFFF;
	margin: 0px;
}

h1 {
	/*font-family: 'PT Serif', Serif;*/
	font-family: 'Lato';
	font-size:  22px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Lato';
	font-size:  16px;
	letter-spacing: 1px;
	text-transform: uppercase;	
}

span {
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
	font-weight: 200;
	padding-right: 8px;
}

.font1 {
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
	font-weight: 400;
}

.font2 {
	/*font-family: 'Open Sans', Sans-Serif;*/
	/*font-family: 'PT Serif', Serif;*/
	font-family: 'Lato', Sans-Serif;
	font-weight: 300;

	font-size: 16px;
	padding-bottom: 6px;
}

.font3 {
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
	/*text-decoration: line-through;*/
	font-weight: 300;
}

.font-highlight {
	font-family: 'Lato', Sans-Serif;
	font-size: 16px;
	/*text-decoration: line-through;*/
	font-weight: 200;
	color: #4e599d;
}

.container {
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   cursor: pointer;
   text-align: left;
}


.container>* {
	flex: 1 1 260px;
}

.card {
	margin: 10px;
	margin-bottom: 25px;
}
	/*	border: 1px solid #FFFFFF;
	margin: 10px;
	width: 300px !important;
}

.card:hover {
	border: 1px solid #D5D5D5;
}*/

.center {
	text-align: center;
}

.splash {
	display: flex;
    align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 25px;
}

.splash img {
	width: auto;
	height: 500px;
}

/*.splash:nth-child(0) {
	color: red;
}

.splash:nth-child(1) {
	background-color: green;
}

.splash:nth-child(2) {
	background-color: blue;
}*/

header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

header h3 {
	display: inline;

	font-family: 'Lato', Sans-Serif;
	font-size: 19px;
	font-weight: 300;
	margin: 0px;

	letter-spacing: 1.25px;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	font-family: 'Lato', Sans-Serif;
	font-size: 15px;
	font-weight: 200;
	margin: 0px;
	text-transform: uppercase;
	padding-left: 9px;
	padding-right: 9px;
}

li:hover {
	color: gray;
}

.photo {
	max-width: 100%;
	height: auto;
}

/*.main {
	background-color: #eee;
}*/

.filters {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 900;
}

.font-selected {
	text-decoration: underline;
	font-style: italic;
}